<%= form_with(model: group, url: user_groups_path) do |form| %>
  <div>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, autofocus: true,  placeholder: "Name", required: true  %>
    </div>

    <div>
      <%= form.label :icon %>
      <%= form.text_field :icon, placeholder: "Icon URL", required: true  %>
    </div>
  </div>

  <div class="btn">
    <%= form.submit %>
  </div>
<% end %>