   <nav class="bg-main d-flex justify-content-between p-2 align-items-center">
    <%= link_to unauthenticated_root_path, type: 'button' do %>
      <%= image_tag('hamburger.png', :size => "23x23", :class => "left-arrow") %>
    <% end %>
    <h2 class="font-proxima-light fw-bold my-0 text-white fs-6"><%= @group.name.upcase%></h2>
    <%= link_to destroy_user_session_path, type: 'button' do %>
    <% image_tag('box-arrow-right.svg', :size => "23x23", :class => "left-arrow")%>
    <% end %>
  </nav>
  <div class = 'container'>
<%= render @group %>
<div>
<h4>Transactions</h4>
  <% if @entities.empty? %>
    <p>No transactions available.</p>
  <% else %>
      <div>
        <% @entities.each do |entity| %>
          <% if can? :read,  entity%>
            <div>
              <p><%= entity.name.capitalize%></p>
              <p>$<%= entity.amount%></p>
            </div>
          <% end %>
        <% end %>
      </div>
  <% end %>
</div>


<div class="btn">
  <%= link_to "Add transaction", new_user_entity_path(current_user) %>
</div>
  </div>
